* {
  box-sizing: border-box;  
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue", Arial, sans-serif;
}
#header {
  background-color: #333;
  height: 6rem;
  font-size: 1.5rem;
}
.nav-item {
  display: inline-block;
  margin: 0 1rem;
  top: -1.2rem;
  position: relative;
}
.nav-item:last-child {
  padding-right: 1rem;
}
.nav-item:last-child a::after {
  content: ' ▼';
  color: #FFF;
}
.nav-item a {
  color: #FFF;
  text-transform: uppercase;
  text-decoration: none;
}
#header img {
  height: 4rem;
  width: 4rem;
  margin: 1rem 1rem 0 1.5rem;
}
#sidebar_left {
  background-color: #AAA;
  width: 15rem;
  height: 35rem;
  text-align: center;
  float: left;
}
#sidebar_left img {
  width: 70%;
  margin: 2rem 0 0 0;
}
#sidebar_left h1 {
  font-size: 1.87rem;
}
#sidebar_left p {
  background: #666;
  margin: 0 auto;
  width: 80%;
  padding: 1rem;
  color: #FFF;
  line-height: 1.5rem;
}
#sidebar_right {
  background-color: #AAA;
  width: 20rem;
  height: 35rem;
  text-align: center;
  float: right;
  padding: 1rem;
}
#content {
  margin-left: 15rem;
  margin-right: 20rem;
  height: 35rem;
  text-align: center;
  position: relative;
}
#content::after {
  content: "";
  background: url('bg.jpeg');
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
  height: 35rem;
}
#content img {
  width: 68%;
  max-height: 27rem;
  max-width: 40rem;
  margin: 2rem 0 0 0;
}
#content h1 {
  font-size: 3rem;
  margin: 1rem;
}
#footer {
  clear: both;
  background-color: #555;
  height: 6rem;
  text-align: center;
  color: #FFF;
  padding: 2.5rem;
  font-size: 1.5rem;
}